{% extends 'index.html' %}
{% block page-content %}
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>{{ namespace }}</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="/kubernetes/namespaces/">Home</a>
                        </li>
                        <li>
                            <a href="/kubernetes/namespaces">Namespace</a>
                        </li>
                        <li class="active">
                            <strong>Deployment</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight" id="app">
            <div class="row">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{ namespace }}</h5>
                    </div>
                    <div class="ibox-content">

                        <table class="table">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>Depolyment</th>
                                <th>容器镜像</th>
                                <th>annotations</th>
                                <th>Pod实例数</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for value in listData.deployments %}
							  <tr class="gradeX">
								<td> {{ forloop.counter }}</td>
                                <td><a href="/kubernetes/namespaces/{{ namespace }}/deployment/{{ value.objectMeta.name }}/pods/">{{ value.objectMeta.name }}</a> </td>
                                <td>{{ value.containerImages }}</td>
                                <td>{{ value.objectMeta.annotations }}</td>
                                <td class="center">{{ value.pods.running }}</td>
                              </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
        </div>
{% endblock %}
