<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
				&times;
			</button>
			<h4 class="modal-title">
                任务日志
			</h4>
		</div>
		<div class="modal-body">
            <p>
                To add a badge style You have to add <code>.badge</code>class to element. To change a color od badge you can add extra class like <code>.badge-primary</code>.
            </p>
            <p><span class="badge">Plain</span></p>
            <p><span class="badge badge-primary">Primary</span></p>
            <p><span class="badge badge-info">Information</span></p>
            <p><span class="badge badge-success">Success</span></p>
            <p><span class="badge badge-warning">Warning</span></p>
            <p><span class="badge badge-danger">Danger</span></p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		</div>
	</div>
</div>
